FLASK_ENV=production
FLASK_DEBUG=False

SECRET_KEY=ganti-dengan-secret-key-random-panjang

DATABASE_URL=mysql+pymysql://root:@localhost:3306/dlh_tasikmalaya?charset=utf8mb4

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@dlh.local
ADMIN_PASSWORD=admin123

SESSION_COOKIE_SECURE=False
FORCE_HTTPS=False
